[program:{{ repo }}]
command={{ venv_dir }}/bin/python3 manage.py runserver
directory={{ repo_dir }}
user={{ user }}
stdout_logfile={{ repo_dir }}/{{ django_project }}_supervisor
autostart=true
autorestart=true
redirect_stderr=true
