[program:{{ repo }}]
command={{ venv_dir }}/bin/uvicorn django_form.asgi:application
directory={{ app_dir }}
user={{ user }}
stdout_logfile={{ repo_dir }}/{{ django_project }}_supervisor
autostart=true
autorestart=true
redirect_stderr=true
