{% extends 'encounters/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
encounters
{% endblock %}

{% block content %}

<nav class="navbar navbar-light bg-light">
  <a role="button" href="{% url 'encounters-create' %}" class="btn btn-primary">new</a>
  <form action="{% url 'encounters-list' %}" method="get" class="form-inline">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
  </form>
</nav>

<div class="container">
{% for obj in object_list %}
<div class="py-2 row">
  <a class="col-11" href="{{ obj.get_absolute_url }}">
    {{ obj.created|date:"Y/m/d H:i" }} - {{ obj.patient.name }}
  </a>
  <a role="button" href="{{ obj.get_delete_url }}" class="col-1 btn btn-sm btn-outline-danger">
  delete
  </a>
</div>
{% empty %}
<div class="row">no encounters yet</div>
{% endfor %}
</div>

{% endblock %}
